<% wrap_layout :layout do %>

<article class="api-detail">

  <h2><%= current_page.data.title %></h2>
  <h5><%= current_page.data.short_description %></h5>

  <% if current_page.data.suggested_uses %>
  <div class="api-uses">
    <section class="uses">
      <h4>Uses</h4>
      <ul>
      <% current_page.data.suggested_uses.each do |use| %>
        <li><%= use %></li>
      <% end %>
      </ul>
    </section>
  </div>  
  <% end %>

  <div class="api-links">
    <section class="links-main">
      <h4>Docs</h4>
      <ul>
        <li><a href="<%= current_page.data.w3c_link %>"><%= current_page.data.w3c_status %></a></li>
        <li><a href="<%= current_page.data.caniuse %>"><%= current_page.data.title %> support on caniuse.com</a></li>
        <li><a href="<%= current_page.data.mdn_docs %>"><%= current_page.data.title %> on MDN Docs</a></li>
        <% if current_page.data.web_platform %>
        <li><a href="<%= current_page.data.web_platform %>"><%= current_page.data.title %> on Web Platform Docs</a></li>

        <% end %>
      </ul>
    </section>

    <% if current_page.data.links_tutsarts %>
      <section class="links-tuts-arts">
        <h4>Articles & Tutorials</h4>
        <ul>
        <% current_page.data.links_tutsarts.each do |title, url| %>
          <li><%=link_to(title, url)%></li>
        <% end %>
        </ul>
      </section>
    <% end %>

    <% if current_page.data.links_examples %>
      <section class="links-examples">
        <h4>Demos & Examples</h4>
        <ul>
        <% current_page.data.links_examples.each do |title, url| %>
          <li><%=link_to(title, url)%></li>
        <% end %>
        </ul>
      </section>
    <% end %>

    <% if current_page.data.browser_support %>
      <section class="browser-support">
        <h4>Browser Support</h4>
        <script>
            (function(window,document,tag,id){return window[id]||(window[id]=1)&&(function(s){
                    var element=document.createElement(tag);
                    s=document.getElementsByTagName(tag)[0];
                    element.async=1;
                    element.src='//www.browserfeatures.io/script/embed.js';
                    s.parentNode.insertBefore(element,s);
                })();
            })(window,document,'script','__bfEmbed__');
        </script>
        <a href="//www.browserfeatures.io/iframe-embed.html?feature=<%= current_page.data.browser_support %>" class="__bfEmbed__"><%= current_page.data.browser_support %> information</a>
      </section>
    <% end %>
  </div>

  <div class="api-code">
      <h4>Example</h4>

    <%= yield %>

  </div>

</article>

<% end %>
