<%= partial "head" %>

<body class="<%= current_page.data.body_class %>">

  <%= partial "header" %>

  <section role="main">

    <%= yield %>

  </section>

  <%= partial "footer" %>

  <%= partial "scripts" %>

</body>
</html>
