<%= partial "head" %>

<body class="<%= current_page.data.body_class %>">
  <%= partial "style-header" %>

  <section role="main">

      <%= yield %>

  </section>

  <%= partial "footer" %>

  <%= partial "style-scripts" %>

</body>
</html>
