<% wrap_layout :layout do %>

<article>

  <h2><%= current_page.data.title %></h2>
  <h5><%= current_page.data.short_description %></h2>

  <%= yield %>

  <section class="links-main">
    <a href="<%= current_page.data.w3c_link %>"><%= current_page.data.w3c_status %></a>
    <a href="<%= current_page.data.caniuse %>">Support on caniuse.com</a>
    <a href="<%= current_page.data.mdn_docs %>">More info on MDN Docs</a>
    <a href="<%= current_page.data.web_platform %>">More info on Web Platform Docs</a>
  </section>

<% if current_page.data.links_tutsarts %>
  <section class="links-tuts-arts">
    <ul>
    <% current_page.data.links_tutsarts.each do |title, url| %>
      <li><%=link_to(title, url)%></li>
    <% end %>
    </ul>
  </section>
<% end %>

<% if current_page.data.links_examples %>
  <section class="links-examples">
    <ul>
    <% current_page.data.links_examples.each do |title, url| %>
      <li><%=link_to(title, url)%></li>
    <% end %>
    </ul>
  </section>
<% end %>

<% if current_page.data.suggested_uses %>
  <section class="uses">
    <ul>
    <% current_page.data.suggested_uses.each do |use| %>
      <li><%= use %></li>
    <% end %>
    </ul>
  </section>
<% end %>


</article>

<% end %>
