<%= partial "head" %>

<body class="<%= @body_class %>">

  <%= partial "header" %>

  <section role="main">

    <%= yield %>

  </section>

  <!-- The aside goes here if you need it - see _aside.erb
      To include in middleman build add <%= partial "aside" %> -->

  <%= partial "footer" %>

  <%= partial "scripts" %>

</body>
</html>